.gender-select {
  background-color: #fff;
  width: 100vw;
  @media screen and (max-width:780px){
    margin-left: 0;
  } 
  margin-left: -15vw;
  border-bottom: solid 1px rgba(128, 128, 128, 0.3);
  &__list {
    margin: 0 auto;
    display: flex;
    width:35%;
    li {
      width: 18.5%;
      line-height: 3em;
      text-align: center;
      opacity: 0.4;
      cursor: pointer;
    }
    li:hover:not(.active) {
      margin-bottom: -2px !important;
      border-bottom: solid 2px rgba(0, 0, 0, 1);
    }
    #genderWomen {
      margin: 0 10% 0;
    }
    #genderMen {
      margin-right:10%;
    }
    .active {
      opacity: 1.0;
      border-bottom: solid 2px rgba(0, 0, 0, 0.8);
    }
  }
}