.searchbox {
  width: 23%;
  padding: 2rem 1.5rem ;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  &__form {
    &__title {
      font-size: 1.1rem;
      border-bottom: 1px solid #ccc;
      margin-top: 3em;
      span {
        font-size: 0.7rem;
      }
    }
    &__title-brand {
      margin-top: 0em;
    }
    &__select {
      padding-left: 0.5rem;
      font-size: 0.9rem;
      line-height: 2.5rem;
      opacity: 0.9;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      border-bottom: 1px solid #ccc;
      z-index: 3;
      i {
        color: #bbb;
        font-size: 0.9rem;
      }
      &__list {
        position: absolute;
        top: 0;
        left: 100%;
        background-color: #fff;
        display: none;
        border: 1px solid #ccc;
        border-radius: 0 0.2rem 0.2rem 0.2rem;
        width: 25rem;
        padding: 1rem;
        
        &__contents {
          display: flex;
          flex-wrap: wrap;
          font-size: 0.8rem;
          &__content {
            width: 30%;
            line-height: 1;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.5rem;
            margin-right: 5%;
            text-align: center;
            cursor: pointer;
          }
          &__content:nth-child(3n) {
            margin-right: 0;
          }
          &__content:hover {
            background-color: #ddd;
          }
        }
      }
    }
    &__select:hover {
      background-color: #eee;
      .searchbox__form__select__list {
        display: block !important;
      }
    }
    &__selected {
      font-size: 0.9rem;
      line-height: 1rem;
      align-items: center;
      display: flex;
      z-index: 2;
      position: relative;
      height: 3rem;
      &__bgc {
        position: absolute;
        top:0;
        left: 0;
        background-color: #eee;
        width: 100%;
        height: 100%;
        span {
          position: absolute;
          left:102%;
          line-height: 3rem;
          color: #ccc;
          cursor: pointer;
          z-index: 1;
        }

      }
      span {
        z-index: 1;
      }
    }
    &__search {
      margin-top: 1rem;
      input {
        border: 1px solid #ccc;
        border-radius: 0.2rem;
        font-size: 0.8rem;
        width: 100%;
        padding: 0.3rem 0.5rem;
      }
    }
    &__input {
      margin-top: 2rem;
      text-align: center;
      input {
        padding: 0.3rem;
        color: inherit;
        background-color: #fff !important;
      }
    }
  }
}