.sidebar__content {
  &__head {
    font-size: 1.1rem;
  }
  &__list {
    padding: 0.5em 0;
    font-size: 0.8rem;
    li {
      padding: 0.5em 0;
      a {
        color: inherit;
        .search-icon {
          font-size: 0.9rem;
          width: 1.5em;
          text-align: center;
        }
        span {
          font-weight: lighter;
          margin-left: 1em;
        }
        span:hover {
          text-decoration: underline;
        }
      }
      a:hover {
        text-decoration: none;
      }
    }
    .sidebar__search__list__item {
      a {
        display: flex;
        .search-icon {
          margin-right: 0.4em;
          img {
            width: 1rem;
          }

        }
      }
    }
  }
}
.sidebar__popularity-salon {
  padding: 0.5em 0;
  border-top: solid 1px rgba(128, 128, 128, 0.3);
}
.sidebar__popularity-user {
  padding: 0.5em 0;
  border-top: solid 1px rgba(128, 128, 128, 0.3);
  .sidebar__popularity-user__list__user {
    display: flex;
    &__icon {
      margin-right: 1rem;
      img {
        border-radius: 1.5rem;
      }
    }
    &__right {
      &__name {
        font-weight: bold;
        font-size: 0.9rem;
      }
      &__follower {
        color: #999;
        span {
          margin-left: 0;
          font-size: 0.7rem;
        }
      }
    }
  }
}
.sidebar__popularity-item {
  padding: 0.5em 0;
  border-top: solid 1px rgba(128, 128, 128, 0.3);
  .searchbox__form{
    display: flex;
    margin-bottom: 1rem;
    .sidebar__popularity-item__list__image {
      margin-right: 1rem;
    }
    .sidebar__popularity-item__list__input {
      input {
        border: none;
        background-color: inherit;
        text-align: left;
        white-space: pre-line;
        word-break:break-all;
      }
      input:hover {
        opacity: 0.6;
      }
    }
  }
}