.header {
  height: 3.5em;
  box-sizing: border-box;
  position: relative;
  z-index: 998;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: solid 1px rgba(204, 204, 204, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(68, 68, 68, 0.9);
  &__container {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    position: relative;
    &__search {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      &__form {
        position: relative;
        line-height: 1.6em;
        &__input {
          padding: 0.5em 1em 0.5em 4em;
          border: 1px solid rgba(128, 128, 128, 0.3);
          border-radius: 0.3em;
          font-size: 0.7em;
          width: 15rem;
          background-color: rgb(248, 248, 248);
        }
        &__input::placeholder {
          color:  #9c9c9c;
        }
        &__button {
          position: absolute;
          top: 1px;
          right: 0;
          bottom: 0;
          left:0;
          margin: auto 0;
          width: 2.5em;
          border: none;
          background-color: rgba(0, 0, 0, 0);
          color: #b4afa9;
          opacity: 0.6;
          font-size: 1.2rem;
          .search {
          }
        }
      }
    }
    &__main-title {
      text-align: center;
      line-height: 3.5em;
      &__name {
        font-style: bold;
        font-size: 1.5em;
        color: #69544b;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
      }
      &__name:hover {
        color: #69544b;
        text-decoration: none;
        opacity: 0.8;
      }
    }
    &__right {
      position: absolute;
      // top: 50%;
      // transform: translate(0, -50%);
      top:0;
      right: 0;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      &__user {
        position: relative;
        .notification-count {
          position: absolute;
          left: -0.2rem;
          top: -0.2rem;
          z-index: 999;
        }
        img {
          width:2.5rem;
          height:2.5rem;
          border-radius: 1.5em;
        }
        a:hover {
          text-decoration: none;
        }
      }
      &__user-menu {
        display: none;
        position: absolute;
        top:3.5rem;
        right: 0;
        background-color: #fff;
        z-index: 999;
        box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.3);
        padding: 1rem 0.7rem 1.4rem 0.7rem;
        font-size: 80%;
        width: 13rem;
        &__list {
          li {
            margin-bottom: 0.5rem;
            position: relative;
            .notification-count {
              position: absolute;
              right:0;
            }
            a {
              color: inherit;
            }
          }
        }
        &__logout {
          border: solid 1px #cccccc;
          padding: 0.5rem 3.5rem;
          background-color: rgb(255, 253, 250);
          color: #888;
          border-radius: 0.1rem;
        }
        &__logout:hover {
          opacity: 0.6;
          text-decoration: none;
          color: #888;
        }
      }
      &__signin {
        &__login {
          color: inherit;
          padding-right: 0.5rem;
          border-right: 1px solid #ccc;
        }
        &__registration {
          color: inherit;
        }
      }
    }
    &__right:hover {
      color:rgba(74, 74, 74, 0.8);
      img {
        opacity: 0.8;
      }
      .header__container__right__user-menu {
        display: block !important;
        color:rgb(74, 74, 74)
      }
    }
  }
}
