.item-search__contents__main__items__item
  .item-search__contents__main__items__item__img
    - if item.image_url == "?target=70x70" 
      = image_tag 'noimage.jpeg', size: '70x70'
    - else
      = image_tag item.image_url
  .item-search__contents__main__items__item__brand
    = item.brand.name
  .item-search__contents__main__items__item__name
    = item.name