// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "layouts/*";
@import "shared/*";
@import "reset";
@import "posts/*";
@import "devise/*";
@import "users/*";
@import "salons/*";
@import "items/*";
@import "rooms/*";
@import "slick/*"; 
@import "btn"; 


html{
  width: 100%;
  height: 100%;
}
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  height: 100%;
  width: 100%;
  color: #421800 !important;
  // color: rgb(74, 74, 74) !important;
}
.main {
  height: calc(100% - 6.5em);
  width: 100%;
  overflow: scroll;
  background-color: rgb(255, 252, 248);
  // background-color: #FBF7F1;
  box-sizing: border-box;
  // background-color: rgb(255, 250, 244);
  position: relative;
  .main-contents {
    @media screen and (max-width:780px){
      width: 100%;
    } 
    width: 70%;
    height: 100%;
    margin: 0 auto;
  }
}
.trash {
  font-size: 1rem;
  color: red;
}

.individual-page {
  padding-bottom: 3rem;
  &__head {
    font-weight: bold;
    padding-top:3.5rem;
    @media screen and (max-width:780px){
      margin-left:0;
    } 
    margin-left: -15vw;
    font-size: 1.3rem;
    background-color: #fff;
    width:100vw;
    border-bottom: 1px solid #cccccc;
    &__contents {
      margin: 0 0 1.5rem 15vw;
    }
  }
}