.post {
  float: left;
  &__user {
    border: 1px solid #999999;
    display: flex;
    &__icon {
    }
  }
  &__content {
    border: 1px solid #999999;
    display: flex;
  }
}
.comment {
  &__new {
    display: none;
  }
}