.user-show {
  display: flex;
  border-bottom: solid 1px  rgba(128, 128, 128, 0.7);
  background-color: #fff;
  padding: 2em;
  &__leftbox {
    &__icon {
      height: 7em;
      width: 7em;
      padding: 0.25em 0;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        border-radius: 3.5em;
        margin: 0 auto;
      }
    }
    &__btn {
      padding: 0.25em 0;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
    &__count {
      padding: 0.25em 0;
      font-size: 75%;
      display: flex;
      justify-content: center;
      &__follow {
      }
      &__follower {
      }
    }
  }
  &__rightbox {
    &__top {
      position: relative;
      &__name {
        font-size: 1.5em;
      }
      &__contents {
        display: flex;
        opacity: 0.8;
        &__id {
          padding-right: 0.5em;
        }
        &__gender {
          padding: 0 0.5em;
        }
        &__salon {
          padding: 0 0.5em;
          color: #4a4a4a;
          text-decoration: underline;
        }
      }
      &__message {
        position: absolute;
        top: 0;
        right: 1rem;
        font-size: 1.6rem;
        color: #3183ff;
        label {
          display: flex;
          justify-content: center;
          align-items: center;
          width:3rem;
          height:3rem;
          background-color: #fff;
          border: 2px solid #3183ff;
          border-radius: 4rem;
          cursor: pointer;
          i {
          }
        }
        label:hover {
          background-color: #adceff6b;
        }
      }
    }
    &__bottom {
      padding-top: 1em;
      &__introduction{
        opacity: 0.9;
        overflow: scroll;
      }
    }
  }
}
.user-tab {
  margin: 1em 0 3em 0; 
  border: solid 1px  rgba(128, 128, 128, 0.3);
  background-color: #fff;
  font-size: 0.9rem;
  &__list {
    margin: 0;
    display: flex;
    text-align: center;
    .active{
      background-color: rgba(0, 0, 0, 0.9) !important;
      opacity: 1.0 !important;
      color: white !important;          
    }
    a {
      width:20%;
      display: block;
      height:100%;
      line-height: 3rem;
      color: inherit;
    }
    a:hover {
      text-decoration: none;
      background-color: #ddd;
      color: inherit;
      opacity:0.8;
    }
    &__style {
      border-right: solid 1px rgba(128, 128, 128, 0.3);
    }
    &__favorites {
      border-right: solid 1px rgba(128, 128, 128, 0.3);
    }
    &__follow {
      line-height: 1.5rem !important;
      margin-left: 40%;
      border-left: solid 1px rgba(128, 128, 128, 0.3);
    }
    &__follower {
      line-height: 1.5rem !important;
      border-left: solid 1px rgba(128, 128, 128, 0.3);
    }
  }
}
.user-posts {
  display: flex;
  flex-wrap: wrap;
  .post {
    width: 22%;
    margin-bottom: 2rem;
    margin-right: 4%;
  }
  .post:nth-child(4n) {
    margin-right: 0;
  }
}
.user-follow {
  display: flex;
  flex-wrap: wrap;
  .user {
    width:47.5%;
    margin-bottom: 2rem;
    margin-right: 5%;
  }
  .user:nth-child(2n) {
    margin-right: 0;
  }
}