.post {
  background-color: #fff;
  border: solid 1px rgba(128, 128, 128, 0.3);
  border-radius: 0.25em;
  width: 22.5%;
  margin: 1.25%;
  &__image {
    img {
      width:100%;
      height: auto;
    }
  }
  &__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25em 0.5em;
    &__icon {
      img {
      border-radius: 1.5em
      }
    }
    &__info {
      &__name {
        font-size: 0.8rem;
        font-weight: 550;
      }
      &__id {
        font-size: 0.6rem;

      }
    }
    &__follow-edit {

    }
  }
}