.post-search{
  &__contents {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    &__main {
      width: 72%;
      &__count {
        text-align: end;
        margin: 0 1rem 1rem 1rem;
        font-size: 1.5rem;
        span {
          font-size:0.8rem;
        }
      }
      &__posts {
        display: flex;
        flex-wrap: wrap;
        .post {
          width:30%;
          margin: 0 5% 2rem 0;
        }
        .post:nth-child(3n) {
          margin: 0 0 2rem 0;
        }
      }
    }
  }
}