%footer.footer
  .footer__container
    .footer__container__content
      = link_to root_path do
        .footer__container__content__ranking
          ランキング
    .footer__container__content
      = link_to root_path do
        .footer__container__content__timeline
          タイムライン
    .footer__container__content
      -if user_signed_in?
        = link_to user_path(current_user.id) do
          .footer__container__content__mypage
            マイページ
      -else
        = link_to root_path do
          .footer__container__content__mypage
            マイページ

